<hr>
<div class="bs-component">
    <div class="jumbotron">
        <h1><img style="padding-right: 5px;" src="@routes.Assets.at("images/clock.png")" /> Coming soon</h1>
        <br />
        Soon this website will be jam packed full of features becoming your portal for helping those in need.
        Whether you are looking to donate time, goods, or services to local shelters and other organizations, we will help you connect with local organizations.
    </div>
</div>