 <div class="alert alert-dismissable alert-{{#if attribute}}{{attribute}}{{else}}success{{/if}}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{message}}
 </div>