<h3 style="text-align: center;">Contact TheDonorsChoice!</h3>
<form action="" method="post" enctype="text/plain">
    Name:<br>
    <input id="contact-name" type="text" name="name" value=""><br>
    E-mail:<br>
    <input id="contact-email" type="text" name="mail" value=""><br>
    Comment:<br>
    <input id="contact-comment" type="text" name="comment" value="" size="50"><br><br>

    <input id="contact-submit" type="submit" value="Send">
    <input id="contact-reset" type="reset" value="Reset">
</form>
