{{> header-template }}
<h1 style="text-align: center;">Frequently Asked Questions</h1>
<div>
<h3>How Did This Organization Get Started?</h3>
<p>TheDonorsChoice started out as a project for the Spring, 2014 Software Engineering class at Boston University.  It is evolving because someone on the team, Lauren, decided to turn a great beginning into a real organization!</p> <p>It's TheDonorsChoice on how, where and when you donate, let us help you... help us!</p>
</div>

<div>
<h3>Is this a 501(c)(3) charity?</h3>
<p>No, it isn't.  Basically for one big reason:  we don't collect money on behalf of anyone.  TheDonorsChoice is simply a website and a team to support it.  TheDonorsChoice provides an outlet for member organizations to reach donors who may not know who needs what they have.  </p> <p>It's TheDonorsChoice on how, where and when you donate, let us help you... help us!</p>
</div>

<div>
<h3>Does a person need to be a member to donate?</h3>
<p>Yes, we ask both donors and recipient organizations to set up a user account.  This is to ensure that donors and recipient organizations have a comfort level that the people they're working with are legitimate. </p> <p>It's TheDonorsChoice on how, where and when you donate, let us help you... help us!</p>
</div>

<div>
<h3>Is my information private?</h3>
<p>Yes, we appreciate our donors and recipient organizations way too much to do anything but keep our members' information private.  We will NEVER sell or share our members list with anyone, including the member recipient organizations.  At most, we will send periodic updates on our work to our own member lists and we will always protect the names and email addresses. </p> <p>It's TheDonorsChoice on how, where and when you donate, let us help you... help us!</p>
</div>

<div>
<h3>Are you planning on putting a map on the donor site so that we know which organizations are the closest to us geographically?</h3>
<p>Wow!  We almost feel like you're psychic!  That is in our backlog of excellent things to do next! </p> <p>It's TheDonorsChoice on how, where and when you donate, let us help you... help us!</p>
</div>

<div>
<h3>How can I get involved?</h3>
<p>Well, if you have something to donate, please create a user account and browse the list of items that our recipient organizations need.  If you are a valid, government recognized charity organization that works with homelessness and hunger, please create a user account and let your needs be known.  If you're interested in helping out to keep the website updated, please go to our Contact Us page and shoot us an email - we will always reply to you with great appreciation.</p> <p>It's TheDonorsChoice on how, where and when you donate, let us help you... help us!</p>
</div>

<div>
<h3>What kind of donations do you accept?</h3>
<p>We don't accept any donations directly, recipients can post what they need and donors can post a variety of donations, there are not limitations. <p>It's TheDonorsChoice on how, where and when you donate, let us help you... help us!</p>
</div>
