{{> header-template }}
<hr>
<h1 style="text-align: center;">Welcome</h1>
<div>
    <h3>Who is The Donor's Choice?</h3>
    <p>The Donor's Choice is an organization dedicated to helping those with items or time to donate find organizations who need what they have.</p>
</div>
<div  style="text-align: center;">
    <a type="button" class="btn btn-danger" href="#resource">  Donate  </a>
    <button type="button" class="btn btn-link">        </button>
    <a type="button" class="btn btn-danger" href="#recipient">  Make Request  </a>
    <button type="button" class="btn btn-danger">Learn More</button>
    <a type="button" class="btn btn-danger" href="#faq">  Learn More  </a>
</div>