{{> header-template }}
<hr>
<h1 style="text-align: center;">Welcome</h1>
<div class="jumbotron">
<img src="/assets/images/PN.jpg" width="189px" height="100px" alt="kitchen work"></div>

<div>
    <h3>Who is The Donor's Choice?</h3>
    <p>The Donor’s Choice is a channel for individuals or organizations with resources to distribute them in an effort to help the homeless and the hungry. This channel alleviates the tireless work of obtaining resources by shelter program directors, soup kitchen managers, and other volunteers involved in this work and allows them to focus on their core mission of engaging and helping the homeless and the hungry. Additionally, this channel reduces overall waste in the form of inventory and storage costs by local area businesses. </p><p> It’s The Donor's Choice on how, where and when you donate. Let us help you... help us! Join the Donor’s Choice today.</p>
</div>
<div  style="text-align: center;">
    <a type="button" class="btn btn-danger" href="#register">  Sign Up  </a>
    <button type="button" class="btn btn-link"> </button>
    <a type="button" class="btn btn-danger" href="#aboutus">  About Us  </a>
    <button type="button" class="btn btn-link"> </button>
    <a type="button" class="btn btn-danger" href="#faq">  Learn More  </a>
</div>