<h3 style="text-align: center;">Reset Your Password </h3>

<div class="container">
    <div class="row">
        
        <div class="col-md-10"><h1>TheDonorsChoice</h1>
            <p>To reset your password, please enter your registered email address below...</p>
       
    </div>
</div>

<form action="" method="post" enctype="text/plain">
    E-mail:<br>
    <input id="contact-email" type="text" name="mail" value=""><br>

    <input id="contact-submit" type="submit" value="Send">
</form>
