<h3 style="text-align: center;">Reset Your Password </h3>

<div class="container">
    <div class="row">
        
        <div class="col-md-10"><h1>TheDonorsChoice</h1>
            <p>To reset your password, please enter your new passwpord below</p>
       
    </div>
</div>

<form action="" method="post" enctype="text/plain">
    New Password:<br>
    <input id="newpassword1" type="text" name="newpw1" value=""><br>
    Confirm Password:<br>
    <input id="newpassword2" type="text" name="newpw2" value=""><br>

    <input id="newpassword-update" type="update" value="update">
</form>
