<div class="well bs-component">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Reset Password</legend>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-4 control-label">Password</label>
                        <div class="col-lg-8">
                            <input type="password" class="form-control" id="reset-password" placeholder="Password" mouseev="true" autocomplete="off" keyev="true" clickev="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputConfirmPassword" class="col-lg-4 control-label">Confirm Password</label>
                        <div class="col-lg-8">
                            <input type="password" class="form-control" id="reset-password-confirm" placeholder="Confirm Password" mouseev="true" autocomplete="off" keyev="true" clickev="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-8 col-lg-offset-4">
                            <button type="submit" class="btn btn-primary" id="reset-submit">Update Password</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>