<div id="rl">
<input id="filterinput" class="form-control" name="searchform" placeholder="Keywords" type="text" />
	<div id="resourcelist">
		{{> resource-list-template}}
	</div>
</div>
<div id="map-canvas"></div>
