{{> header-template }}

<input id="filterinput" name="searchform" placeholder="Keywords" type="text" />

    <div id="resourcelist">
    	{{> resource-list-template}}
	</div>

</br>
<div id="map-canvas" style="width:100%;height:400px"></div>
