/* Sticky footer styles
* http://getbootstrap.com/examples/sticky-footer/sticky-footer.css
*/

@footer_height: 90px;

html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: @footer_height;
}

#footer {
	clear: both;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: @footer_height;
	background-color: #f5f5f5;
}

#footer .container {
	height: 50%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}