@(resources: List[Resource], resourceForm: Form[Resource])

@import helper._


    <h1>Resource(s)</h1>
    
    <table border="1" style="width:700px">
    
    	@for(resource <- resources){
    		<tr>
	    		<td>
	    			@resource.orgName
	    		</td>	
	    		<td>
	    			@resource.address
	    		</td>
	    		<td>
	    			@resource.phoneNumber
	    		</td>
	    		<td>
	    			<a href="mailto:@resource.email">@resource.email</a>
	    		</td>
	    		<td>
	    			@resource.user
	    		</td>
	    		<td>
	    			@resource.Type
	    		</td>
	    		<td>
	    			@resource.itemsNeeded
	    		</td>
	    		<td>
	    			@form(routes.ResourceController.deleteResource(resource.id)){<input type="submit" value="Delete">}
	    		</td>
    		</tr>
    	}		
    </ul>
