@(resources: List[Resource], resourceForm: Form[Resource])

@import helper._

@main("Resource List") {

    <h1>@resources.size() Resource(s)</h1>
    
    <ul>
    	@for(resource <- resources){
    		<li>
    			@resource.orgName
    		</li>	
    		<li>
    			@resource.address
    		</li>
    		<li>
    			@resource.phoneNumber
    		</li>
    		<li>
    			@resource.email
    		</li>
    		<li>
    			@resource.UserID
    		</li>
    		<li>
    			@resource.Type
    		</li>
    		<li>
    			@resource.itemsNeeded
    		</li>
    	}		
    </ul>
    

}
